# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# working files

screens/
docs/images/*.mp4
docs/images/*.png

# docs (keep CHANGELOG.md)

*.md
!CHANGELOG.md
!README.md
